<div>
	<h4>I am a web developer with a background in network engineering, tech support and Program Management. I've loved being able to immerse myself up to my eyeballs (I have to see to code, at this point anyway) in web development these past 4 months. I enjoy working with my team and have found that my community at work is very important to me.</h4></div>
<div>
	<ul class="skills">
		<li><h5>Front-end: Javascript, PHP, jQuery, Ajax, AngularJS, HTML, CSS.</h5></li>
		<li><h5>Back-end MVC frameworks: Ruby on Rails, Angular, CodeIgniter and Express.</h5></li>
		<li><h5>Data structures: SQL Server, MySQL, MongoDB, SQLite.</h5></li>
		<li><h5>Worked in an agile environment and enjoy the flexibility and fluidity of the development process.</h5></li>
		<li><h5>Experience with cross team work, including offshore teams, with strong communication skills.</h5></li>
		<li><h5>Very organized with strong analytical skills.</h5></li>
	</ul>
</div>