<h3>Frontend</h3>
<h4>HTML5, CSS3, jQuery, AJAX, Javascript, Bootstrap and Foundation comprise a lot of the work that I do.</h4>
<div class="portfolio" id="show">
	<!-- <a href="colliding_balls.html"><img src="images/colliding_balls.jpg" alt="Javascript colliding balls"></a> -->
	<a href="images/yellow_test.png" target="_blank"><img src="images/yellow_test_partial.png" alt="website mockup"></a>
	<h5>This is a website that I had to create for my yellow belt test. I had 4 hours to do it and finished in less than 3 1/2.</h5>
	<a href="https://github.com/swaaazoo/Yellow-belt-test"><i class="fa fa-github fa-lg">&nbsp; GITHUB</i></a>
</div>
<!-- <div id="dialog">
	<img src="images/yellow_test.png" alt="website mockup">
</div> -->
<div class="portfolio" class="show">
	<h5>work in progress, more to come soon. seriously, really soon.</h5>
</div>