<h3>Frontend</h3>
<h4>HTML5, CSS3, jQuery, AJAX, Javascript, Bootstrap and Foundation comprise a lot of the work that I do.</h4>
<div class="portfolio" id="show">
	<a href="images/yellow_test.png" target="_blank"><img src="images/yellow_test_partial.png" alt="website mockup"></a>
	<h5>This is a website that I had to create for my yellow belt test. I had 4 hours to do it and finished in less than 3 1/2.</h5>
	<a href="https://github.com/swaaazoo/Yellow-belt-test"><i class="fa fa-github fa-lg">&nbsp; GITHUB</i></a>
</div>
<div class="portfolio" class="show">
	<a href="images/ajaxnotes.png" target="_blank"><img src="images/mini_ajaxnotes.png" alt="Ajax notes app"></a>
	<h5>Ajax Notes program that has CodeIgniter as the backend. These notes update dynamically.</h5>
	<a href="https://github.com/swaaazoo/Ajax-notes"><i class="fa fa-github fa-lg">&nbsp; GITHUB</i></a>
</div>