      * {
      	margin: 0 auto;
      	padding: 0;
      	border: 0;
      	/*outline: 1px dotted red;*/
      }
      body {
        font-family: 'Josefin Sans', sans-serif;
      	font-size: 100%;
      	font-weight: 400;
      }
      .container {
      	margin-top: 5%;
      	width: 970px;
      	height: 670px;
      }
      .bold {
      	font-family: 'Josefin Sans', sans-serif;
      	font-weight: 700;
      	font-size: 500%;
      	text-align: right;
      }
      .left {
        width: 200px;
        height: 650px;
        display: inline-block;
        vertical-align: top;
        padding-right: 12px;
      }
	      .left_top {
	      	height: 295px;
	      	background: url('/images/dandelion.jpg');
	      	background-size: 100% 100%;
    		background-repeat: no-repeat;
	      }
	      .left_bottom {
	      	font-family: 'Josefin Sans', sans-serif;
        	font-size: 300%;
	      	height: 256px;
	      	padding-top: 60px;
	      }
	      .shift {
	      	height: 311px;
	      	padding-top: 5px;
	      }
      .right {
      	width: 740px;
		height: 650px;
		display: inline-block;
		vertical-align: top;
		padding-left: 12px;
      }
	      .right_top {
	        height: 565px;
	        padding-top: 50px;
	      }
	      	.welcome {
				padding: 20px 0;
	      	}
	      .right_bottom {
	      	height: 20px;
	  		padding: 5px;
	  		text-align: right;
	      }
      .right_top, .left_bottom, .left_top {
      	border-bottom: 5px solid black;
      }
   	  ul li {
 	  	list-style-type: none;
 	  }
	  a {
	  	color: black;
	  	text-decoration: none;
	  }
	  .media_links {
	  	padding: 5px 20px;
	  }
	  h1 {
	  	font-weight: 500;
	  	font-size: 700%;
	  	padding-top: 30px;
	  }
	  h2 {
	  	padding-top: 60px;
	  }
	  h3 {
	  	font-family: 'Josefin Sans', sans-serif;
	  	font-weight: 400;
	  	font-size: 250%;
	  }
	  h4 {
	  	font-weight: 400;
	  	font-size: 200%;
	  }
	  h5 {
	  	font-weight: 400;
	  	font-size: 150%;
	  	padding: 5px 0;
	  }
	  .skills li{
		list-style: square;
		margin-left: 20px;
	  }
	  .accordion-content {
	  	display: none;
	  	overflow: auto;
	  }
 	  .sublist {
 	  	font-size: 50%;
 	  	padding-left: 25px;
 	  }
 	  .portfolio {
 	  	display: inline-block;
 	  	border: 1px solid #A9A9AA;
 	  	height: 400px;
 	  	width: 350px;
 	  	vertical-align: top;
 	  	margin-top: 20px;
 	  }